* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  border-bottom: 1px solid black;
}

h1 {
  font-weight: bold;
  color: #000;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

li {
  margin-bottom: 5px;
}

footer {
  padding-top: 25px;
  border-top: 1px solid black;
}

footer a {
  float: left;
  margin: 5px;
}

/* Container that holds all pets */
#pets {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

#notify {
  position: fixed;
  top: -60px; /* Hidden above screen */
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
}

/* Each pet card */
.pet-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
  justify-content: center;
  align-items: center;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.create-pet {
  width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-size: 15px;
  background-color: #1e2835;
  border-color: #404853;
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    rgba(246, 246, 246, 0.1) 0%,
    rgba(30, 40, 53, 0) 66%
  );
  color: #fafafa;
}

.pet-image {
  height: 250px;
}

.dashboard iv {
  display: block;
}

.pet-image-container {
  float: left;
  padding: 10px;
}

.dashboard {
  float: left;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  background-color: #1e2835;
  border-color: #404853;
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    rgba(246, 246, 246, 0.1) 0%,
    rgba(30, 40, 53, 0) 66%
  );
  color: #fafafa;
}

/* Modal Background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Modal Box */
.modal-content {
  background: white;
  margin: 15% auto;
  padding: 20px;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000055;
}

/* Close Button */
.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.pet-chocies {
  display: inline-block;
}

.pet-button {
  height: 150px;
  width: 150px;
  margin: 5px;
}

.form-name {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  gap: 3px;
}
